*{
	box-sizing: border-box;
}

.newspaperImage{
	text-align: center;
}

.grid-section{
	margin-top:30px;
}

.read_news{
	-webkit-appearance: none;
	font-size: 2em;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.read_news:hover{
	background-color: gray;
	color:white;
	transform: translateY(-7px);
}

h1{
	font-size: 2em;
	font-family: 'Merriweather', serif;
}

.grid{
	width: 90%;
	margin-right: auto;
	margin-left:auto;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.col-1, .col-2{
	display:inline-block;
}

.categories_ul{
	height: 180px;
	overflow-y:auto;
}

.source_ul{
	height: 465px;
	overflow-y:auto;
}


.col-2 {
	width: 75%;
	height: 780px;
	border: 1px solid #3ab4a6;
	vertical-align: top;
	-webkit-overflow-scrolling: touch;
	border-radius: 3px;
	overflow: scroll;
}

.list-options{
	width: 100%;
	font-size: 1em;
	border: 1px solid #3ab4a6;
}

.col-1{
	width: 24%;
}

.menu {
	font-size: 1.3em;
	text-decoration: none;
	width: 100%;
	height: 100%;
	color: #ffffff;
	background: #3ab4a6;
	font-family: Raleway, sans-serif;
	border-radius: 3px;
}

.remove-display{
	display:none;
}

.search-form-fieldset{
	border:none;
}

.search-Category li, .search-sites li{
	margin-top: 15px;
	list-style: none;
	padding-left: 0px;
	text-align: center;
	border-bottom: 1px solid red;
}

.search-Category-ul, .search-sites-ul{
	padding: 0px;
}

.search-sites li:last-child{
	border: 0px;
}



.displayNewsGrid:after {
	content: "";
	display: table;
	clear: both;
}

.thumbnails {
	width:100%;
	height: 100%;
	background-repeat:   no-repeat;
	background-size:     cover;
	border-radius:5px;
	border: 1px solid #3ab4a6;
}

.img_description {
	margin:0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
	cursor: pointer;
	padding:10px;
	overflow-y: auto;
}

.thumbnailWrapper:hover .img_description {
	visibility: visible;
	opacity: 1;
}

.toggle-Display{
	text-align: right;
	margin-bottom: 10px;
}

.list_wrapper{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border-bottom: 1px solid #3ab4a6;
}

.list_view_image{
	width: 150px;
	height: auto;
	background-repeat:no-repeat;
	background-size: cover;
	border-radius: 5px;
	border: 1px solid  #3ab4a6;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_img_description a{
	font-size: 1.2em;
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: black;
}

.list_img_description a:hover{
	color: #717171;
}

.list_img_description a:visited{
	color: #556B2F;
}


.displayNewsList{
	padding: 40px;
	height:80%;
	overflow-y:auto;
}

.list_wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.displayNewsGrid{
	width: 90%;
	height:80%;
	overflow-y:auto;
	margin-left: auto;
	margin-right: auto;
}

.toggle-Display, .search-form{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.search-form-legend{
	margin-bottom: 5px;
	font-size: 1.3em;
	font-family: 'Merriweather', serif;
}

.search-form{
	text-align:center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.search-form-text{
	text-align: center;
	border: none;
	border-bottom:2px solid #3ab4a6;
	margin-right: 20px;
	font-size: 1.5em;
	font-family: 'Quattrocento', serif;
}

.default_view, .view_Grid, .view_List, .view_detail, .pop_up_form_submit{
	-webkit-appearance: none;
	font-size: 0.9em;
	border-radius: 5px;
	font-family: 'Crimson Text', serif;
}

.default_view:hover, .view_Grid:hover, .view_List:hover, .view_detail:hover, .pop_up_form_submit:hover{
	background: gray;
	color:white;
	box-shadow:inset 0 0 5px #000000;
}

.search-form-button{
	-webkit-appearance: none;
	font-size: 1.2em;
	border-radius: 20px;
	color:white;
	background: black;
	font-family: 'Courgette', cursive;
}

.search-form-button:hover{
	background: gray;
	transform: translateY(-2px);
	cursor:pointer;
}

.view_Grid, .view_List, .view_detail, .default_view{
	cursor:pointer;
}

.view_detail{
	margin-bottom: 5px;
}

.outer_Overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background:rgba(0,0,0,0.5);
	padding-top: 200px;
}

.pop_up{
	font-family: 'Quattrocento', serif;
	width: 40%;
	background-color: white;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
	font-size:1.2em;
}

.pop_up_form_btn{
	font-size: 1.5em;
	text-align: center;
}

.pop_up_form_fieldset{
	border: 2px solid #3ab4a6;
}

.close_popup{
	font-size: 28px;
	font-weight: bold;
	float : right;
	margin: 2px;
	color: gray;
}

.close_popup:hover{
	color: black;
	cursor: pointer;
}

.pop_up_text{
	clear:right;
}

.menu ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.categories_ul, .source_ul{
	background: #49505a;
}

.menu_categories_title:hover, .menu_Sources_title:hover{
	cursor:pointer;
	color: #d8f3f0;
}

.categories_ul li, .source_ul li{
	padding-left: 10px;

}

.categories_ul li a, .source_ul li a{
	color: white;
	text-decoration: none;
}

.categories_ul li a:hover, .source_ul li a:hover{
	color: #e8ebef;
}

.menu li{
	margin-bottom: 10px;
}

.title{
	padding-left: 10px;
}

.no_headlines{
	margin-top: 200px;
	text-align: center;
	font-size: 2em;
}

.sign_categories, .sign_source{
	float:right;
	margin-right: 10px;
	font-size: 1.3em;
	transition: all 0.1s ease-out;
	color:black;
}


.sign_categories:hover, .sign_source:hover{
	color:yellow;
}

.spin{
	transform:rotate(-45deg);
}