*{
	box-sizing: border-box;
}

.newspaperImage{
	text-align: center;
  background-color: #f4fdff;
}

.grid-section{
	margin-top:10px;
}

.main_img{
  margin-top: 0px;
border-radius: 30px;
}

.read_news{
	-webkit-appearance: none;
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	border-radius: 20px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
  color: #637f7f;
  background-color: #d7e8ee;
  padding: 10px;
  margin-bottom: 100px;
  /*border: 1px solid #0b7aa4;*/
}

.read_news:hover{
	background-color: gray;
	color:white;
	transform: translateY(-7px);
}

h1, .start_text{
	font-size: 1.7em;
	font-family: 'Merriweather', serif;
}

h1{
  margin-top: 0px;
}

.grid{
	width: 100%;
}

.col-1, .col-2{
	display:inline-block;
}

.categories_ul{
	height: 180px;
	overflow-y:auto;
}

.source_ul{
  text-transform: lowercase;
	height: 525px;
	overflow-y:auto;
}


.col-2 {
	width: 75%;
	height: 860px;
	/*border: 1px solid #3a93b4;*/
	vertical-align: top;
	-webkit-overflow-scrolling: touch;
	border-radius: 3px;
	overflow: scroll;
  margin-left: -4px;
  background-color: #f4fdff;
}

.list-options{
	width: 100%;
	font-size: 1em;
	border: 1px solid #3a93b4;
}

.col-1{
	width: 25%;
}

.menu {
	font-size: 1.3em;
	text-decoration: none;
	width: 100%;
	height: 100%;
	color: #47555c;
	background: #d7e8ee;
	font-family: Raleway, sans-serif;
	border-radius: 3px;
}

.remove-display{
	display:none;
}

.search-form-fieldset{
	border:none;
}

.search-Category li, .search-sites li{
	margin-top: 15px;
	list-style: none;
	padding-left: 0px;
	text-align: center;
	border-bottom: 1px solid red;
}

.search-Category-ul, .search-sites-ul{
	padding: 0px;
}

.search-sites li:last-child{
	border: 0px;
}

.thumbnails {
	width:100%;
	height: 100%;
	background-repeat:   no-repeat;
	background-size:     cover;
	border-radius:5px;
	border: 1px solid #3a93b4;
}


.thumbnailWrapper{
  font-size: 1.1em;
}

.img_description {
	margin:0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
	cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
	overflow-y: auto;
}

.thumbnailWrapper:hover .img_description {
	visibility: visible;
	opacity: 1;
}

.thumbnailbackground , .listbackground{
	background-color:#E7E7D8;
}

img{
	color:black;
	font-weight: bold;
}

.toggle-Display{
	text-align: right;
	margin-bottom: 15px;
}

.list_wrapper{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border-bottom: 1px solid #3a93b4;
}

.list_view_image{
	width: 150px;
	height: auto;
	background-repeat:no-repeat;
	background-size: cover;
	border-radius: 5px;
	border: 1px solid  #3a93b4;
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_img_description a{
	font-size: 1.2em;
	font-family: 'Merriweather', serif;
	text-decoration: none;
	color: black;
}

.list_img_description a:hover{
	color: #717171;
}

.list_img_description a:visited{
	color: forestgreen;
}


.displayNewsList{
	padding: 40px;
  padding-top: 0px;
	height:80%;
	overflow-y:auto;
}

.list_wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.displayNewsGrid{
	width: 90%;
	height:80%;
	overflow-y:auto;
	margin-left: auto;
	margin-right: auto;
}

.toggle-Display, .search-form{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.search-form-legend{
	font-size: 1.3em;
	font-family: 'Merriweather', serif;
  margin-bottom: 10px;
}

.search-form{
	text-align:center;
	margin-top: 20px;
}

.search-form-text{
	text-align: center;
	border: none;
  border-radius: 0px;
	border-bottom:2px solid #3a93b4;
	margin-right: 20px;
	font-size: 1.5em;
	font-family: 'Quattrocento', serif;
  margin-bottom: 5px;
  background-color: #f4fdff;
}

.default_view,.pop_up_form_submit{
	-webkit-appearance: none;
	font-size: 1.1em;
	border-radius: 5px;
	font-family: 'Crimson Text', serif;
}

.default_view:hover, .pop_up_form_submit:hover{
	background: gray;
	color:white;
	box-shadow:inset 0 0 5px #000000;
}

.search-form-button{
	-webkit-appearance: none;
	font-size: 1.2em;
	border-radius: 20px;
	color:white;
	background: black;
	font-family: 'Courgette', cursive;
}

.search-form-button:hover{
	background: gray;
	transform: translateY(-2px);
	cursor:pointer;
}

.default_view{
	cursor:pointer;
}

.outer_Overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background:rgba(0,0,0,0.5);
	padding-top: 200px;
}

.pop_up{
	font-family: 'Quattrocento', serif;
	width: 40%;
	background-color: white;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border-radius: 5px;
	font-size:1.2em;
}

.pop_up_form_btn{
	font-size: 1.5em;
	text-align: center;
}

.pop_up_form_fieldset{
	border: 2px solid #3a93b4;
}

.close_popup{
	font-size: 28px;
	font-weight: bold;
	float : right;
	margin: 2px;
	color: gray;
}

.close_popup:hover{
	color: black;
	cursor: pointer;
}

.pop_up_text{
	clear:right;
}

.menu ul{
	margin:0px;
	padding:0px;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.categories_ul, .source_ul{
	background: #657d85;
  font-weight: bold;
}

.menu_categories_title:hover, .menu_Sources_title:hover{
	cursor:pointer;
	color: black;
}

.categories_ul li, .source_ul li{
	padding-left: 10px;

}

.categories_ul li a, .source_ul li a{
	color: white;
	text-decoration: none;
}

.categories_ul li a:hover, .source_ul li a:hover{
	color: #e8ebef;
}

.menu li{
	margin-bottom: 10px;
}

.title{
	padding-left: 10px;
}

.no_headlines, .no_Output{
	margin-top: 200px;
	text-align: center;
	font-size: 2em;
}

.sign_categories, .sign_source{
	float:right;
	margin-right: 10px;
	font-size: 1.3em;
	transition: all 0.1s ease-out;
	color:black;
}


.sign_categories:hover, .sign_source:hover{
	color:yellow;
}

.spin{
	transform:rotate(-45deg);
}

.view_Grid img, .view_List img{
	width: 30px;
	height: auto;
}

.toggle-Display_list, .toggle-Display_grid {
	border-radius: 5px;
	position: relative;
	text-align: center;
	margin-right: 5px;
}

.toggle-Display_list, .toggle-Display_grid, .toggle-Display_default{
	display:inline-block;
}

.toggle-Display_default{
	position:relative;
	bottom: 9px;
}

.toggle-Display_list:hover, .toggle-Display_grid:hover{
	cursor:pointer;
}

.toggle-Display_list:hover .tool_tip_list_text, .toggle-Display_grid:hover .tool_tip_grid_text{
	cursor:pointer;
	visibility: visible;
}

.tool_tip_list_text, .tool_tip_grid_text{
	border: 1px solid #3a93b4;
	visibility: hidden;
	background-color: #edfbfd;
	color: black;
	padding: 5px;
	border-radius: 15px;
	position: absolute;
	z-index: 1;
	top: -105%;
	right: -45%;
	width: 80px;
}

.tool_tip_list_text:before, .tool_tip_grid_text:before{
	content: " ";
	position: absolute;
	bottom: -38%; /* At the bottom of the tooltip */
	left: 58%;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

.loader {
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 30px;
	height: 30px;
	position: relative;
	top: 31px;
	left: 50%;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

.logo_img{
  width: 60px;
  float: left;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
}

.logo:after{
  clear: both;
  display: table;
  content: "";
}

.logo_title{
  position: relative;
  bottom: -10px;
}

.visiblity_hidden {
	visibility: hidden;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
