*{
	box-sizing: border-box;
}

.newspaperImage{
	text-align: center;
}

.grid-section{
	margin-top:30px;
}

/*font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Quattrocento', serif;
font-family: 'Crimson Text', serif;
font-family: 'Pacifico', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Courgette', cursive;
font-family: 'Amiri', serif;
font-family: 'Taviraj', serif;
font-family: 'Gurajada', serif;*/

.read-news{
	-webkit-appearance: none;
	font-size: 2em;
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}

.read-news:hover{
	background-color: gray;
	color:white;
	transform: translateY(-7px);
}

h1{
	font-size: 2em;
	font-family: 'Merriweather', serif;
}

.grid{
	width: 90%;
	margin-right: auto;
	margin-left:auto;
}


.col-1{
	width: 24%;
	border: 1px solid red;
	border-radius: 5px;
}

.col-2 {
	width: 75%;
	border: 1px solid blue;
	vertical-align: top;
}

.remove-display{
	display:none;
}

.search-form-fieldset{
	border:none;
}

.search-Category li, .search-sites li{
	margin-top: 15px;
	list-style: none;
	padding-left: 0px;
	text-align: center;
	border-bottom: 1px solid red;
}

.search-Category-ul, .search-sites-ul{
	padding: 0px;
}

.search-sites li:last-child{
	border: 0px;
}

.thumbnailWrapper {
	width:200px;
	height:200px;
	position: relative;
	margin: 10px;
	float: left;
}

.displayNewsGrid:after {
	content: "";
	display: table;
	clear: both;
}

.thumbnails {
	/*width: 200px;*/
	/*height: 200px;*/
	width:100%;
	background-repeat:   no-repeat;
	background-size:     cover;
	border-radius:5px;
	border: 1px solid red;
}

.img_description {
	margin:0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(29, 106, 154, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
	cursor: pointer;
}

.thumbnailWrapper:hover .img_description {
	visibility: visible;
	opacity: 1;
}

.toggle-Display{
	text-align: right;
	margin-bottom: 10px;
}

.list_wrapper{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border-bottom: 1px solid gray;
}

.list_view_image{
	width: 100px;
	height: auto;
	background-repeat:   no-repeat;
	background-size:     cover;
	border-radius: 5px;
}

.displayNewsList{
	padding: 40px;
}

.list_view_image{
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.list_wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.displayNewsGrid{
	padding: 20px;
	text-align: center;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.toggle-Display, .search-form{
	width: 95%;
}

.view_Grid, .view_List, .view_detail, .default_view{
	cursor:pointer
}

.view_detail{
	margin-bottom: 5px;
}

.outer_Overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 1;
	background:rgba(0,0,0,0.5);
	padding-top: 200px;
}

.pop_up{
	width: 35%;
	/*height: 200px;*/
	background-color: white;
	border-radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.close_popup{
	font-size: 28px;
	font-weight: bold;
	/*border: 1px solid blue;*/
	float : right;
	margin: 2px;
	color: gray;
}

.close_popup:hover{
	color: black;
	cursor: pointer;
}

.pop_up_text{
	clear:right;
}
